body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #436470;
}


header {
    text-align: center; 
    margin:15px 0px 40px 0px;
}

header p{
    font-size: 18px;
}

#alertsContainer{
    margin-left:50px; 
    width:400px; 
    margin-bottom: -10px;
}

#winningAlert{
    text-align: center;
    margin-bottom: 5px; 
    display: none;
}

#waitingAlert{
    margin-bottom: 5px; 
    display: none;
}

#scoreAlert{
    margin-bottom: 5px;
    font-size: 15px; 
}

#settings-box{
    padding:60px 0px 0px 50px;
}


/**** MOBILE ****/

@media only screen and (max-width: 768px) {
    #settings-box{
        padding: 0px 0px 30px 50px;
    }
    
    #alertsContainer {
        width: 90%;
    }
    
    #alertsContainer{
        width:100%; 
        margin-bottom: 0px; 
    }
    
    #scoreAlert{
        padding: 10px 5px;
        font-size: 13px;
    }
    
    #waitingAlert {
        margin-bottom: 0px;
        font-size: 10px !important;
    }
    
    canvas {
        width:100%;
        margin-left: 30px;
    }
}


nav {
    background-color: #436470;
    padding: 1rem;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.text-white {
    color: #fff;
}

.font-semibold {
    font-weight: 600;
}

.text-xl {
    font-size: 1.25rem;
}

.space-x-4 > *:not(:last-child) {
    margin-right: 1rem;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.relative {
    position: relative;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.bg-white {
    background-color: #fff;
}

.p-2 {
    padding: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.space-y-2 > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.shadow-md {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.block {
    display: block;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-gray-800 {
    color: #333;
}

.hover:bg-gray-200:hover {
    background-color: #e2e8f0;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.w-24 {
    width: 6rem;
}

.h-24 {
    height: 6rem;
}

.bg-red-500 {
    background-color: #f00;
}

.bg-yellow-500 {
    background-color: rgb(247, 188, 61);
}

.rounded-full {
    border-radius: 9999px;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: #fff;
}

.font-semibold {
    font-weight: 600;
}

.text-sm {
    font-size: 0.875rem;
}

.text-center {
    text-align: center;
}